@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 35s linear infinite;
  }
  
  @media (hover: hover) {
    .animate-scroll:hover {
      animation-play-state: paused;
    }
  }
  